*{
    margin: 0;
    padding: 0;
}

.main-foto {
    display: flex;
    flex-direction: column;
}

.main-foto img {

}
.boots1 {
    margin-top: 0.5rem;
}

.boots-foto {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 3rem;

}

.boots-foto img {
    width: 5rem;
    margin-bottom: 1rem;
    display: flex;
}

.nw-foto {
    display: flex;
    margin-top: 5rem; 
}

.nw-foto img {
    width: 50%;
}

.nw-trio {
    display: flex;
    
}

.nw-trio img {

}

.nw-nudes p {


}

.nw-nudes h2 {
    text-decoration: underline;
}

.currently h2 {
    text-decoration: underline;
}

.technology h2 {
    text-decoration: underline;
}



