*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   margin-left: 2rem;
   margin-right: 2rem;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    margin-top: 0;
}

.container {
    display: flex;
    flex-direction: column;
    
  
}

.title {
   display: flex;
   justify-content: space-between;
   
}

.title-text {
    
} 

.actions {
    display: flex;
    justify-content: space-between;
    margin-right: 6rem;
    
    
}

.button-search {
    padding: 0.5em 5em;
    
}
 
.button-search .i {
    align-items: flex-start;
}
a:link {
    text-decoration:none;
    font-size: small;

}

.nav-down {
    
}

footer {
    margin: 10rem;
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
}
.form input {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

footer a {
    color: black;
}
.socials  {
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    gap: 1rem;
   
}

.socials a {
    font-size: x-large;
}
.buttons {
    display: flex;
    flex-direction: column;

    
}
span img {
    height: 2rem;
    width: 2.5rem;
}